<page xmlns="http://projectmallard.org/1.0/"
      xmlns:e="http://projectmallard.org/experimental/"
      type="topic"
      id="gstreamer">

  <info>
    <link type="guide" xref="index#mm"/>
    <desc>GStreamer...</desc>
    <revision pkgversion="0.1" version="0.1" date="2010-06-29" status="stub"/>
    <credit type="author">
      <name>GNOME Documentation Project</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    
    <include href="legal.xml" xmlns="http://www.w3.org/2001/XInclude"/>
  </info>

  <title>GStreamer</title>
  
  <comment>
   <cite date="2010-06-29" href="mailto:gnome-doc-list@gnome.org">GNOME Documentation Project</cite>
   <p>XXX</p>
  </comment>
	
</page>
